$background-color-dark: linear-gradient(#242924,#0a0a0a);
$primary-color-dark: #468A43;
$select-color-dark: rgba(255, 255, 255, 0.1);
$nav-color-dark:  rgb(10, 10, 10);
$text-color: rgba(212, 212, 212, 0.774);

.dark {
    background-image: $background-color-dark;
    .header-container {
      background-color:$nav-color-dark;
      header {
        nav {
          color: $primary-color-dark;
        }
        .logo {
          background-color: $primary-color-dark;
          &:hover {
            background-color: $select-color;
          }
        }
      }
    }
    .container {
      main {
        #cards {
          .card {
            // Glass card
            background-color: rgba(0, 0, 0, 0.63);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            // Glass card
            .content {
              color: $text-color;
              .title {
                border-bottom: 1px solid white;
              }
            }
            &:hover {
              background-color: $select-color-dark;
            }
          }
        }
      }
    }
  }