$content-width: 1024px;
// Theme light
$background-color: linear-gradient(#90f1a0,#78e98b);
$primary-color: #90f1a0;
$select-color: rgba(255, 255, 255, 0.829);
$nav-color: rgb(39, 46, 44);
// Theme dark
$background-color-dark: linear-gradient(#242924,#0a0a0a);
$primary-color-dark: #468A43;
$select-color-dark: rgba(255, 255, 255, 0.1);
$nav-color-dark:  rgb(10, 10, 10);
$text-color: rgba(212, 212, 212, 0.774);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: $background-color;
  .header-container {
    background-color:$nav-color;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    header {
      max-width: $content-width;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      align-items: center;
      nav {
        color: $primary-color;
      }
      .logo {
        background-color: $primary-color;
        border-radius: 99rem;
        padding: 0.5rem 0.4rem 0.1rem 0.5rem;
        img {
          max-width: 2rem;
        }
        &:hover {
          background-color: $select-color;
          cursor: pointer;
        }
      }
    }
  }
  .container {
    max-width: $content-width;
    margin: 0 auto;
    padding: 5rem 0 1rem 0;
    main {
      #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        .card {
          // Glass card
          background-color: rgba(255, 255, 255, 0.1);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
          border-radius: 1rem;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(5px);
          z-index: 0;
          // Glass card
          cursor: none;
          display: flex;
          .content {
            width: 100%;
            padding: 1rem;
            font-size: 0.8rem;
            .title {
              display: flex;
              justify-content: space-between;
              padding: 0 0 0.4rem 0;
              border-bottom: 1px solid black;
              margin-bottom: 0.4rem;
            }
            .info {
              line-height: 1.1rem;
            }
          }
          img {
            border-radius: 1rem 0 0 1rem;
            max-width: 7rem;
            margin-right: 0.5rem;
          }
          &:hover {
            background-color: $select-color;
          }
        }
      }
    }
  }
}
.dark {
  background-image: $background-color-dark;
  .header-container {
    background-color:$nav-color-dark;
    header {
      nav {
        color: $primary-color-dark;
      }
      .logo {
        background-color: $primary-color-dark;
        &:hover {
          background-color: $select-color;
        }
      }
    }
  }
  .container {
    main {
      #cards {
        .card {
          // Glass card
          background-color: rgba(0, 0, 0, 0.63);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
          border-radius: 1rem;
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(5px);
          .content {
            color: $text-color;
            .title {
              border-bottom: 1px solid white;
            }
          }
          // Glass card
          &:hover {
            background-color: $select-color-dark;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  body {
    .header-container {
      header {
        padding: 0.5rem 1rem;
      }
    }
    .container {
      padding: 5.7rem 1rem 1rem 1rem;
    }
  }
}
